<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
 	<div class="formdiv">
	        <p>Complete the form to create a category</p>
	        <form action="#" th:action="@{/CreateCategory}" method="POST">
	            <fieldset>
	            	<p>
						Name: <input type="text" name="nome_nuovacategoria" required />
					</p>
					<p>
						<label for="allcategories">Choose a father category:</label> <select
							name="nome_categoria_padre">
							<option th:each="category : ${allcategories}" th:value="${category.nome_categoria}"
								th:text="${category.nome_categoria}"></option>
						</select>
					</p>
					<input type="submit" name="Create Category">
				</fieldset>
	        </form>
	    </div>

</body>

</html>