<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Catalog Home</title>

</head>
<body>

 


    <h1>Benvenuto nel catalogo</h1>

 
<!-- th:text="${category.getSubCategories.get(0).getNome_categoria}"> -->
    <ul>
        <li th:each="category : ${topcategories}"
            th:insert="@{WEB-INF/fragment.html} :: list (category)"></li>
    </ul>

    <div  class="formdiv">
        <p>Complete the form to create a category</p>
        <form action="#" th:action="@{/CreateCategory}" method="POST">
            <fieldset>
            	<p>
					Name: <input type="text" name="nome_nuovacategoria" required />
				</p>
				<p>
					<label for="allcategories">Choose a father category:</label> <select
						name="nome_categoria_padre" id="id_categoria_padre">
						<option th:each="category : ${allcategories}" th:value="${category.nome_categoria}"
							th:text="${category.nome_categoria}"></option>
					</select>
				</p>
				<input type="submit" name="Create Category">
			</fieldset>
        </form>
    </div>
    <!-- th:insert="@{WEB-INF/HomePage.html} :: list(category)"></li>
     -->
</body>
</html>