<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Catalog Home</title>

</head>
<body>

 


    <h1>Welcome to the Catalog Management Home Page</h1>

 

    <ul>
        <li th:each="category : ${topcategories}"
            th:text="${category.getSubCategories.get(0).getNome_categoria}"></li>
    </ul>

 

    <div  class="formdiv">
        <p>Complete the form to create a category</p>
        <form action="#" th:action="@{/CreateCategory}" method="POST">
            <fieldset>
                <p>
                    Name: <input type="text" name="name" required />
                </p>
                <input type="submit" name="Create Category">
            </fieldset>
        </form>
    </div>
    <!-- th:insert="@{WEB-INF/HomePage.html} :: list(category)"></li>
     -->
</body>
</html>